<!-- views/partials/_navbar.ejs -->

<nav>
    <% if(user) { %>
    <div class="navbar">
      <h1 id="nav-header">Muscle Cars of 1969</h1>
      <div class="nav-links">
        <a class="authlink" href="/users/<%=user._id%>/cars"
          >Your Cars</a
        >
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
      </div>
    </div>
    <% } else { %>
    <div class="navbar">
      <h1 id="nav-header">Vrooom Vroooom</h1>
      <div class="nav-links">
        <a class="authlink" href="/auth/sign-in">Start your Engines/Sign In</a>
        <a class="authlink" href="/auth/sign-up">Get your Keys/Sign Up</a>
      </div>
    </div>
    <% } %>
  </nav>
  