<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Car</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Car</h1>
 

    <form action="/users/<%= user._id %>/cars" method="POST">
    <label for="make">Make:</label>
    <select id="make" name="make">
        <option value="Mercury">Mercury</option>
        <option value="Chrysler">Chrysler</option>
        <option value="Chevrolet">Chevrolet</option>
        <option value="Ford">Ford</option>
        <option value="Pontiac">Pontiac</option>
        <option value="AMC">AMC</option>
        <option value="Buick">Buick</option>
        <option value="Oldsmobile">Oldsmobile</option>
    </select>    
    <label for="model">Model:</label>
    <input type="text" name="model" id="model" />
  
    <label for="enigine">Engine:</label>
    <select id="enigine" name="enigine">
      <option value="V-6">V-6</option>
      <option value="V-8">V-8</option>
  </select>
      <label for="transmission">Transmission:</label>
      <select id="transmission" name="transmission">
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option>
        </select>

        <label for="carPics">Car Pics:</label>
        <input type="text" name="carPics" id="carPics" />

    <button type="submit">Add Car</button>
  </form>
  
  </body>
</html>